.form-edit {
  width: 50%;
  margin: auto;
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.form-edit label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.form-edit input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.form-edit button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-edit button:hover {
  background-color: #0056b3;
}


.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}


select#status {
  padding: 10px;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

select#status:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

select#status:hover {
  border-color: #0056b3;
}
